@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	grid-template-rows: 1fr auto;
}
.debug {
	border: 1px solid red;
}
